
{% extends 'dashboard/sbadmin/pages/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">New members</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please enter basic information to add new members
                    </div>
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                    <div class="panel-body">
                        <div class="row">
                            <form role="form" action="add_member" method="post">{% csrf_token %}
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Select Gym</label>
                                        <select class="form-control" name="gym">
                                            {% for id,gym in gym_list %}
                                                <option value={{id}}>{{id}} {{gym.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" placeholder="Example: Reto" name="vorname">
                                    </div>
                                    <div class="form-group">
                                        <label>Family Name</label>
                                        <input class="form-control" placeholder="Example: Steiger" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input class="form-control" placeholder="Example: Zentrum 3, 8105 Regensdorf" name="uuid">
                                    </div>
                                    <div class="form-group">
                                        <label>Card number</label>
                                        <input class="form-control" placeholder="Example: 123456789" name="uuid">
                                    </div>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <input class="form-control" placeholder="" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input class="form-control" placeholder="" name="mobile">
                                    </div>
                                    <div class="form-group">
                                        <label>Birthday</label>
                                        <div class='input-group date'>
                                            <input type='text' class="form-control" id='datepicker'/>
                                            <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Student Discount</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="yes">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="no">No
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary" value="submit">Submit Button</button>
                                    <button type="reset" class="btn btn-danger" value="reset">Reset Button</button>
                                </div>
                            <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Select Plan</label>
                                        <select class="form-control" name="gym">
                                            {% for id,plan in plan_list %}
                                                <option value={{id}}>{{plan.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Payment period</label>
                                        {% for payment in payment_list %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="{{ payment }}" value="{{ payment }}">{{ payment }} month
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Fight teams</label>
                                        {% for ft in team_list %}
                                            <div class="checkbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" value={{ ft.team }}>{{ ft.team }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label>Gym activities</label>
                                        {% for activity in acitiviy_list %}
                                            <div class="checkbox">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="{{ activity.name }}">{{ activity.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}