
{% extends 'dashboard/sbadmin/pages/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">New members</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please enter basic information to add new members
                    </div>
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" action="add_member" method="post">{% csrf_token %}
                                    <div class="form-group">
                                        <label>Select Gym</label>
                                        <select class="form-control" name="gym">
                                            {% for id,gym in gym_list %}
                                                <option value={{id}}>{{id}} {{gym.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" placeholder="Example: Reto" name="vorname">
                                    </div>
                                    <div class="form-group">
                                        <label>Family Name</label>
                                        <input class="form-control" placeholder="Example: Steiger" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Card number</label>
                                        <input class="form-control" placeholder="Example: 123456789" name="uuid">
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                              $('#datetimepicker1').datetimepicker();
                                            });
                                        </script>
                                    </div> -->
                                    <button type="submit" class="btn btn-default" value="submit">Submit Button</button>
                                    <button type="reset" class="btn btn-default" value="reset">Reset Button</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}