{% extends 'dashboard/sbadmin/pages/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mitglieder Check-In</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bitte ID-Badge zuerst Scannen
                    </div>
                    <!-- /.panel-heading -->

                    <div class="panel-body">
                        <br/>
                        <form role="form" action="checkin" method="post">{% csrf_token %}
                            {% if form.errors %}
                                {% for key, value in form.errors.iteritems %}
                                    <div class="alert alert-danger">{{ value.as_text }}</div>
                                {% endfor %}
                            {% endif %}
                            {{ form.non_field_errors }}
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">ID</span>
                                {{form.gym_id}}
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary" value="submit">Check-In</button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}
