{% extends 'dashboard/sbadmin/pages/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mitglied Information</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <a href="members">&nbsp;Mitglieder&uuml;bersicht</a>
                    </div>
                    <!-- /.panel-heading -->
                    
                    <div class="panel-body">
                    
                        <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#profile" data-toggle="tab">Profil</a>
                                </li>
                                <li><a href="#gym" data-toggle="tab">Vertrag</a>
                                </li>
                                <li><a href="#billing" data-toggle="tab">Zahlungen</a>
                                </li>
                                <li><a href="#setting" data-toggle="tab">Bearbeiten</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="profile">
                                <p>&nbsp;</p>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Name</strong></td>
                                                <td>{{ members.vorname }} {{ members.name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Geburtsdatum</strong></td>
                                                <td>{{ members.birth_date }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Wohnadresse</strong></td>
                                                <td>{{ members.street1}}, {{ members.city }}, {{ members.postcode }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Email Adresse</strong></td>
                                                <td><a href="mailto:{{ members.email_name }}">{{ members.email_name }}</a></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Telefon Nr.</strong></td>
                                                <td>{{ members.mobile }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Gym ID</strong></td>
                                                <td>{{ members.uuid }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Photo</strong></td>
                                                <td>
                                                    <img src={{ members.member_pic.url }} width="320" height="240"/>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="gym">
                                <p>&nbsp;</p>
                                    <table class="table table-hover table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Abonement</strong></td>
                                            <td>{{ members.gym_plan }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Vertragsabschluss</strong></td>
                                            <td>{{ members.join_date }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Vertragsdauer</strong></td>
                                            <td>{{ members.payment_period }} Monat(e)</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="col-md-1" align="left"><strong>Student</strong></td>
                                            <td>{{ members.stu_discount }}</td>
                                        </tr> -->
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="billing">
                                <p>&nbsp;</p>
                                    <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Mitglied</th>
                                            <th>Rechnungs-Nr.</th>
                                            <th>Von</th>
                                            <th>Bis</th>
                                            <th>Betrag</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for payment in payment_record %}
                                            <tr class="odd gradeX">
                                                <td>{{ payment.uid }}</td>
                                                <td>{{ payment.invoice_number }}</td>
                                                <td>{{ payment.begin_period }}</td>
                                                <td>{{ payment.end_period }}</td>
                                                <td>{{ payment.member_fee }}</td>
                                                <td>
                                                    {% if payment.pay_status %}
                                                        Complete
                                                    {% else %}
                                                        Unpaid
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="setting">
                                    <p>&nbsp;</p>
                                    <div class="row">
                                        <form role="form" action="edit_member?id={{ members.id }}$" method="post">{% csrf_token %}
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Gym Auswahl</label>
                                                    <select class="form-control" name="gym">
                                                        {% for id,gym in gym_list %}
                                                            <option value={{id}}>{{id}} {{gym.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Vorname</label>
                                                    <input class="form-control" placeholder="John" name="vorname" value="{{ members.vorname}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input class="form-control" placeholder="Doe" name="name" value="{{ members.name }}">
                                                </div>

                                                <div class="form-group"> <!-- Street 1 -->
                                                    <label for="street1_id" class="control-label">Strasse u. Hausnummer</label>
                                                    <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o" value="{{ members.street1 }}">
                                                </div>

                                                <div class="form-group"> <!-- City-->
                                                    <label for="city_id" class="control-label">Ort</label>
                                                    <input type="text" class="form-control" id="city_id" name="city" placeholder="Smallville" value="{{ members.city }}">
                                                </div>

                                                <div class="form-group"> <!-- Zip Code-->
                                                    <label for="zip_id" class="control-label">PLZ</label>
                                                    <input type="text" class="form-control" id="zip_id" name="postcode" placeholder="#####" value="{{ members.postcode }}">
                                                </div>

                                                <div class="form-group">
                                                    <label>Email Adresse</label>
                                                    <input type="email" class="form-control" placeholder="name@domain.com" name="email_name" value="{{ members.email_name }}">
                                                </div>

                                                <div class="form-group">
                                                    <label>Telefon Nummer</label>
                                                    <input class="form-control" placeholder="" name="mobile" value="{{ members.mobile }}">
                                                </div>

                                                <div class="form-group">
                                                    <label>Geburtsdatum</label>
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control" id='datepicker' name="birth_date" value="{{ members.birth_date }}">
                                                        <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Gym ID</label>
                                                    <input class="form-control" placeholder="123456789" name="uuid" value="{{ members.uuid }}">
                                                </div>
                                            </div>
                                            <!-- /.col-lg-6 (nested) -->
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Abonement Auswahl</label>
                                                    <select class="form-control" name="gym_plan">
                                                        {% for plan in plan_list %}
                                                            <option value={{plan.name}}>{{plan.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label>Datum Vertragsabschluss</label>
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control" id='datepicker2' name="join_date" value="{{ members.join_date }}">
                                                        <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Vertragsdauer</label>
                                                    {% for payment in payment_list %}
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="payment_period" id="{{ payment }}" value="{{ payment }}">{{ payment }} month
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <!-- <div class="form-group">
                                                    <label>Student Discount</label>
                                                    <input type="checkbox" name="stu_discount" data-toggle="toggle" data-size="mini" >
                                                </div> -->

                                                <div class="form-group">
                                                    <label>Mitglied Fight Team</label>
                                                    {% for ft in team_list %}
                                                        <div class="checkbox">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="teams" value={{ ft.team }}>{{ ft.team }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label>Gym Activities</label>
                                                    {% for activity in acitiviy_list %}
                                                        <div class="checkbox">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="gym_act" value="{{ activity.name }}">{{ activity.name }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div> -->
                                                <div class="form-group">
                                                    <label>Photo</label>
                                                    <div>
                                                        <div>Current: {{ members.member_pic }} </div>
                                                        <input id="member_pic" type="file"  name="member_pic">
                                                        <br/>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary" value="submit">Speichern</button>
                                                    <button type="reset" class="btn btn-danger" value="reset">Abbrechen</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="panel-heading">
                                    <button type="submit" class="btn btn-primary" value="submit">Speichern</button>
                                    <button type="reset" class="btn btn-danger" value="reset">Abbrechen</button>
                                 </div> -->
                            </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}