{% extends 'dashboard/sbadmin/pages/base.html' %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gym Members</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        View member detail information
                    </div>
                    <!-- /.panel-heading -->

                    <div class="panel-body">
                        <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#profile" data-toggle="tab">Profile</a>
                                </li>
                                <li><a href="#gym" data-toggle="tab">Gym</a>
                                </li>
                                <li><a href="#billing" data-toggle="tab">Billing</a>
                                </li>
                                <li><a href="#setting" data-toggle="tab">Setting</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="profile">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-condensed">
                                            <tbody>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Name</strong></td>
                                                <td>{{ members.vorname }} {{ members.name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Age</strong></td>
                                                <td>{{ members.birth_date }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Address</strong></td>
                                                <td>{{ members.street1}}, {{ members.city }}, {{ members.postcode }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Email</strong></td>
                                                <td><a href="mailto:{{ members.email_name }}">{{ members.email_name }}</a></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Mobile</strong></td>
                                                <td>{{ members.mobile }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1" align="left"><strong>Gym ID</strong></td>
                                                <td>{{ members.uuid }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="gym">
                                    <table class="table table-hover table-condensed">
                                        <tbody>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Plan</strong></td>
                                            <td>{{ members.gym_plan }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Start Date</strong></td>
                                            <td>{{ members.join_date }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Payment Period</strong></td>
                                            <td>{{ members.payment_period }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-1" align="left"><strong>Student</strong></td>
                                            <td>{{ members.stu_discount }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="billing">
                                    <h4>Billing Information</h4>

                                </div>
                                <div class="tab-pane fade" id="setting">
                                    <p></p>
                                    <div class="row">
                                        <form role="form" action="add_member" method="post">{% csrf_token %}
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Select Gym</label>
                                                    <select class="form-control" name="gym">
                                                        {% for id,gym in gym_list %}
                                                            <option value={{id}}>{{id}} {{gym.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input class="form-control" placeholder="John" name="vorname">
                                                </div>
                                                <div class="form-group">
                                                    <label>Family Name</label>
                                                    <input class="form-control" placeholder="Doe" name="name">
                                                </div>

                                                <div class="form-group"> <!-- Street 1 -->
                                                    <label for="street1_id" class="control-label">Street Address</label>
                                                    <input type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o">
                                                </div>

                                                <div class="form-group"> <!-- City-->
                                                    <label for="city_id" class="control-label">City</label>
                                                    <input type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
                                                </div>

                                                <div class="form-group"> <!-- Zip Code-->
                                                    <label for="zip_id" class="control-label">Post Code</label>
                                                    <input type="text" class="form-control" id="zip_id" name="postcode" placeholder="#####">
                                                </div>

                                                <div class="form-group">
                                                    <label>Email Address</label>
                                                    <input type="email" class="form-control" placeholder="name@domain.com" name="email_name">
                                                </div>

                                                <div class="form-group">
                                                    <label>Mobile</label>
                                                    <input class="form-control" placeholder="" name="mobile">
                                                </div>

                                                <div class="form-group">
                                                    <label>Birthday</label>
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control" id='datepicker' name="birth_date"/>
                                                        <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Gym Card Number</label>
                                                    <input class="form-control" placeholder="123456789" name="uuid">
                                                </div>

                                                <button type="submit" class="btn btn-primary" value="submit">Submit Button</button>
                                                <button type="reset" class="btn btn-danger" value="reset">Reset Button</button>
                                            </div>
                                            <!-- /.col-lg-6 (nested) -->
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Select Plan</label>
                                                    <select class="form-control" name="gym_plan">
                                                        {% for plan in plan_list %}
                                                            <option value={{plan.name}}>{{plan.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label>Membership Start Day</label>
                                                    <div class='input-group date'>
                                                        <input type='text' class="form-control" id='datepicker2' name="join_date"/>
                                                        <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>Payment Period</label>
                                                    {% for payment in payment_list %}
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="payment_period" id="{{ payment }}" value="{{ payment }}">{{ payment }} month
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <div class="form-group">
                                                    <label>Student Discount</label>
                                                    <input type="checkbox" name="stu_discount" data-toggle="toggle" data-size="mini">
                                                </div>

                                                <div class="form-group">
                                                    <label>Fight Teams</label>
                                                    {% for ft in team_list %}
                                                        <div class="checkbox">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="teams" value={{ ft.team }}>{{ ft.team }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="form-group">
                                                    <label>Gym Activities</label>
                                                    {% for activity in acitiviy_list %}
                                                        <div class="checkbox">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="gym_act" value="{{ activity.name }}">{{ activity.name }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}