{% extends 'dashboard/sbadmin/pages/base.html' %}

{% block content %}
    <div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Zahlungsauflistung</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        &nbsp;
                    </div>
                    <!-- /.panel-heading -->

                    <div class="panel-body">
                        <form method="get" action="members">
                        <div class="input-group custom-search-form">
                            <input type="text" name="q" class="form-control" placeholder="Suche...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        </form>
                        <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Mitglied</th>
                                <th>Rechnungs-Nr.</th>
                                <th>Von</th>
                                <th>Bis</th>
                                <th>Betrag</th>
                                <th>Status</th>
                                <th>Zahlen</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                            <tr class="odd gradeX">
                                <td>{{ payment.uid }}</td>
                                <td>{{ payment.invoice_number }}</td>
                                <td>{{ payment.begin_period }}</td>
                                <td>{{ payment.end_period }}</td>
                                <td>{{ payment.member_fee }}</td>
                                <td>
                                    {% if payment.pay_status %}
                                        Complete
                                    {% else %}
                                        Unpaid
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.pay_status %}
                                        <a class="btn btn-default btn-outline btn-primary" href="payments_change?id={{ payment.id }}">Complete</a>
                                    {% else %}
                                        <a class="btn btn-default btn-outline btn-danger" href="payments_change?id={{ payment.id }}">Pay</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}